.heading-hooks {
    margin: 9px;
    padding: 27px;
    background-color: rgb(237, 237, 221);
    border-radius: 9px;
}

.row-hooks {
    display: flex;
    justify-content: space-around;
    padding: 9px;
}

.col-useState {
    background-color: rgb(176, 211, 200);
    padding: 42px 15px;
    border-radius: 3px;
    width: 50%;
    font-size: larger;
}
.col-useEffect {
    background-color: rgb(195, 229, 229);
    padding: 42px 15px;
    border-radius: 3px;
    width: 50%;
    font-size: larger;
}
.col-useContext {
    background-color: rgb(195, 179, 209);
    padding: 42px 15px;
    border-radius: 3px;
    width: 100%;
    font-size: larger;
}
