calc-frame {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 110%;
}

.calculator-title {
    font-size: 30px;
    background: #fff;
    width: 400px;
    padding: 10px 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 2px solid black;
    color: #4caf50;
}

.mainCalc {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
}

.calc-button-row input[type="button"] {
    width: 100px;
    background: #71c774;
    border: 1px solid #ede9e9;
    padding: 10px 20px;
    color: rgb(246, 243, 243);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.calc-button-row input[type="button"]:active {
    background: #ccc;
}

.calc-screen-row input {
    width: 400px;
    background: #ddd;
    border: 0px;
    color: #222;
    padding: 10px;
    text-align: right;
}
