.introBody {
    display: grid;
    align-items: flex-start;
    /* justify-content: center; */
}
.intro-react-heading {
    color: rgb(8 126 164);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.introductionReact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}
.intro-react-right {
    background-color: rgb(190, 190, 241);
    border-radius: 30px;
}
.installationReact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.introductionReact {
    background-color: rgb(194, 242, 242);
    border-radius: 9px 9px 0px 0px;
    margin: 12px;
    margin-bottom: 0px;
    padding: 30px;
}
.installationReact {
    background-color: rgb(190, 190, 241);
    border-radius: 0px 0px 9px 9px;
    margin: 12px;
    margin-top: 0px;
    padding: 30px;
}
.installationReact-heading {
    background-color: rgb(190, 190, 241);
    margin: 0px 12px;
    padding: 30px 0px 0px 0px;
}
.heading {
    display: block;
    width: 100%;
}
.intro-article {
    width: 870px;
    height: fit-content;
    background-color: rgb(190, 190, 241);
    padding: 18px;
    border-radius: 30px;
    margin: 10px;
    font-size: large;
    line-height: 30px;
}
.installLeftTab,
.installRightTab {
    background-color: rgb(194, 242, 242);
    padding: 18px;
    margin: 12px;
    border-radius: 9px;
}
