.App-logo-concepts {
    height: 21vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo-concepts {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header-concepts {
    width: fit-content;
    align-items: center;
    display: inline;
}

.page-header {
    color: #61dafb;
}

.table-contents {
    width: 360px;
    color: #087ea4;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 12px 9px;
    text-align: justify;
    border-radius: 9px;
    margin: 3px;
    text-decoration: none;
}

.table-contents:hover {
    color: aliceblue;
    background-color: #1295c0;
    font-size: medium;
}

.concept-links {
    text-decoration: none;
}
